.go-board {
    display: grid;
    grid-template-columns: repeat(20, minmax(0, 1fr));
    width: 600px;
    height: 600px;
    background-color: #FFCC02; /* Brown background */
}
.go-cell {
    width: 30px;
    height: 30px;
    z-index: auto;
    position: relative;
}
.go-cell::before,
.go-cell::after {
    content: '';
    position: absolute;
    background: #333;
}
.go-cell::before {
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
}
.go-cell::after {
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
}
.go-stone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    font-size: small;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
}
.black {
    color: #fff;
    background-color: #000;
}
.black-90 {
    color: #fff;
    background-color: #222;
}
.black-70 {
    color: #fff;
    background-color: #444;
}
.white {
    color: #000;
    background-color: #fff;
}
.white-90 {
    color: #000;
    background-color: #ddd;
}
.white-70 {
    color: #000;
    background-color: #bbb;
}

.button-basic {
    border-radius: 8px; /* 모서리 둥글게 */
    background-color: #dddddd;
    border: none;
    color: #000;
    padding: 10px 10px; /* 상하 15px, 좌우 32px 패딩 */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button-checked {
    border-radius: 8px; /* 모서리 둥글게 */
    background-color: #000;
    border: none;
    color: #ffffff;
    padding: 10px 10px; /* 상하 15px, 좌우 32px 패딩 */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}